.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	height: 100vh;
}

.output {
	height: 100px;
	background-color: #fff;
	font-weight: 600;
	font-size: 1.5rem;
}

.output p {
	font-size: 14px;
	color: #3e3e3e;
	font-weight: 400;
}

.calculator {
	background-color: #fff;
	border-radius: 4px;
	min-width: 20vw;
	padding: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
	border: 2px solid transparent;
	transition: all ease-in-out 0.35s;
}

.calculator:hover {
	border: 2px solid #777;
}

.button-container {
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
